.BuildControls{
    display:flex;
    flex-flow: column;
    align-items: center;
    padding: 10px 0;
    width: 70%;
    height: 310px;
    margin: auto 15%;
    box-sizing: border-box;
    background-color: rgb(54, 190, 111);
    box-shadow: 0 2px 2px rgb(21, 95, 76);
}
.Build-Box{
    display: flex;
    flex-direction: row;
}
.Control-Box{
    display: flex;
    flex-direction: column;
}
.Price-Section{
    flex-direction: column;
    height:30%;
    box-sizing: border-box;
    margin-top:180px;
    margin-left: 40px;
    padding:0 20px;
    justify-content: center;
    background-color: rgb(46, 177, 159);
}
.Price{
    font-size: calc(7px + 1.2vw);
    color:rgb(231, 202, 35);
}
.Check-Out{
    align-items: baseline;
    margin:15px auto;
    height: 35%;
    font-size: calc(5px + 1vw);
    background-color: rgb(179, 119, 30);
}
.Check-Out:hover:enabled{
    cursor:pointer;
    background-color: rgb(199, 137, 44);
    font-size: 1.14rem;
    box-shadow: 1.3px 1.5px rgb(97, 65, 16);
    outline: none;
}
.Check-Out:enabled{
    animation-name: enabled;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
}
@keyframes enabled{
    0%{
        transform: scale(1);
        transform:skew(20);
    }
    30%{
        transform: scale(0.8);
    }
    70%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}