.User-Log-Out-Msg{
    animation: disappear 3.5s ease-in-out;
    transform: translateX(69vw);
    background-color: #aada35;
    border-radius: 5px;
    height: 30px;
    width: 190px;
    position: fixed;
    align-items: center;
    justify-content: center;
    
}

@keyframes disappear{
    30%{
        transform: translateX(40vw);
    }
}

@media only screen and (max-width:700px){
    .User-Log-Out-Msg{
        transform: translateY(-20vh);
        z-index: 200;
        
    }
    @keyframes disappear{
        30%{
            transform: translateY(-5vh);
        }
    }
}