.Burger-Logo{
    top:2px;
    height:90%;
    width:5%;
    justify-content: center;
}

.Burger-Logo img{
    height:100%;
    width:75%;
}

@media only screen and (max-width:820px){
    .Burger-Logo img{
        height:80%;
        width:75%;
    }
    .Burger-Logo{
        padding-top: 7px;
        width:6.5%;
    }
}
@media only screen and (max-width:540px){
    .Burger-Logo img{
        height:60%;
        width:75%;
    }
    .Burger-Logo{
        padding-top: 12px;
    }
}
@media only screen and (max-width:540px){
    .Burger-Logo img{
        height:60%;
        width:95%;
    }
    .Burger-Logo{
        padding-top: 16px;
        width:8%;
    }
}