.Content{
    background-color: rgb(176, 245, 176);
    height:auto;
    margin:auto;
    justify-content: center;
    align-items: center;
    display:flex ;
    flex-direction: column;
    width:100%;
}


@media only screen and (max-width: 700px){
    .Content{
        justify-content:flex-start;
    }
}