.Content{
    background-color: rgb(176, 245, 176);
    min-height: 110vh;
    height:auto;
    margin:auto;
    align-items: center;
    display:flex ;
    flex-direction: column;
    width:100%;
    margin-top:45px;
}


@media only screen and (max-width: 700px){
    .Content{
        justify-content:flex-start;
    }
}