.Auth-Form-Box{
    display: flex;
    flex-direction: column;
    width:100%;
    height:300px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top:20px;
}
.Auth-Form-Div{
    width:40%;
    height:250px;
    background-color: rgb(205, 255, 220);
    box-shadow: 1px 2px 3px rgb(111, 133, 78);
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.Auth-Form-Div h4{
    margin:0;
    margin-bottom: 15px;
}
.Auth-Form{
    display: flex;
    flex-direction: column;
    width:80%;
    height:200px;
    justify-content: space-around;
    align-items: center;
}
.Auth-Form input{
    width:60%;
    padding:6px;
    border: 1.6px solid black;
}
.Auth-Form input:focus{
    background-color: rgb(247, 241, 241);
}
.Auth-Form button{
    font-size:16px;
}
.Auth-Form button:hover{
    cursor:pointer;
}
.Auth-Form-Switch-Btn{
    margin-top: 35px;
    padding:7px;
    outline: none;
    border:none;
    
}
.Auth-Form-Switch-Btn:hover{
    cursor: pointer;
    transform: scale(1.2);
    
}

.Auth-Modal{
    align-items: center;
    justify-content: center;
}
.Auth-Error{
    animation: flashError 2.5s ease-out;
}
@keyframes flashError{
    0%{
        background-color: none
    }
    30%{
        background-color: rgba(216, 68, 63, 0.897);
    }
    100%{
        background-color: none;
    }
}

.Auth-Success-Msg{
    z-index:150;
    margin-top: 100px;
    font-size: 1.2rem;
    animation: flashSuccess 0.8s ease-in-out;
}
@keyframes flashSuccess{
    from{
        transform: translateY(-100vh);
    }
    to{
        transform: translateY(0);
    }
}
.Password-Block{
    display: flex;
    width:calc(62% + 2px);
}
.Toggle-Password-Img{
    width: 24px;
    height: 28px;
    background-color: rgb(255, 255, 255);
    border: 1.6px solid black;
    border-left: none;
}
.Toggle-Password-Img:hover{
    cursor: pointer;
}

.Toggle-Password-Img img{
    width:100%;
    height: 100%;
}

.Password-Block input{
    width:95%;
    border-right: none;
    outline: none;
}
.Password-Block input:focus{
    outline: none;
    border:2px solid black;
    border-right: none;
    background-color: rgb(247, 241, 241);
}


@media only screen and (max-width:620px){
    .Auth-Form-Div{
        width:72%;
    }
    .Auth-Form input{
        width:75%;
    }
    .Password-Block{
        width:79%;
    }
    .Password-Block input{
        width:100%
    }
}